{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="format-detection" content="telephone=no"/>
    <!-- 默认的CSS -->
    <link rel="shortcut icon" href="{% static "images/myzj.ico" %}"/>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}?v={{ config.v }}">
    {% block head %}
    {% endblock %}
</head>
<body {% block body_attributes %}{% endblock %}>
{% block container %}{% endblock %}
<!-- 其他页面需要加载的js在此扩展 -->
{% block js %}
{% endblock %}
</body>
<script src="{% static "js/bootstrap.min.js" %}?v={{ config.v }}"></script>
</html>
