{% extends "shared/base.html" %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static "css/main.css" %}?v={{ config.v }}">
    <link rel="stylesheet" href="{% static "css/apipage.css" %}?v={{ config.v }}">
{% endblock %}
{% block container %}
    {% include "shared/headerBar.html" %}
    <div class="container">
        <div class="edit-top">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">2013</a></li>
                <li class="active">十一月</li>
            </ol>
            <div class="edit-btns">
                <button type="button" ng-click="doEdit()" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-success">Save</button>
            </div>
        </div>
        <div class="edit-body">
            <div class="tab">
                <ul>
                    <li id="spanBase" class="active">
                        spanBase
                    </li>
                    <li id="Request">Request</li>
                    <li id="Response">Response</li>
                    <li id="ErrorCode">ErrorCode</li>
                </ul>
            </div>
            <div class="edit-content">
                <div id="spanBase_Main" class="content-list">
                    <div class="row">
                        <div class="col-xs-2">Name:</div>
                        <div class="col-xs-10">
                            <input type="text" ng-disabled='@{isEdit}@' ng-model="spanBase.name" placeholder="请输入接口名称..." class="form-control text-input">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">Mock:</div>
                        <div class="col-xs-10">
                            <textarea ng-disabled='@{isEdit}@' ng-model="spanBase.mock" class="form-control textarea" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">Description:</div>
                        <div class="col-xs-10">
                            <textarea ng-disabled='@{isEdit}@' ng-model="spanBase.decription" class="form-control textarea" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">Tags:</div>
                        <div class="col-xs-10">
                            <span class="label label-warning">警告标签</span>
                            <span class="label label-danger">危险标签</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">State:</div>
                        <div class="col-xs-10">
                            <label><input ng-disabled='@{isEdit}@' type="radio" name="state"/>Enable</label>
                            <label><input ng-disabled='@{isEdit}@' type="radio" name="state"/>Disable</label>
                        </div>
                    </div>
                </div>
                <div id="Request_Main" class="content-list" style="display: none;">
                    <div class="row">
                        <div class="col-xs-2">URL:</div>
                        <div class="col-xs-10">
                            <input ng-disabled='@{isEdit}@' type="text" ng-model="Request.url" placeholder="请输入路径..." class="form-control text-input">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2" >Method:</div>
                        <div class="col-xs-10">
                            <select ng-disabled='@{isEdit}@' ng-model="Request.method" class="form-control select-width">
                                <option>POST</option>
                                <option>GET</option>
                                <option>PUT</option>
                                <option>DELETE</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">ContentType:</div>
                        <div class="col-xs-10">
                            <select ng-disabled='@{isEdit}@' ng-model="Request.content_type" class="form-control select-width">
                                <option>1</option>
                                <option>application/json</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="req-content" ng-repeat="apiList in AllDate">
                            <div class="api-top">
                                <div class="row">
                                    <div class="col-xs-1">Body</div>
                                    <div class="col-xs-9"></div>
                                    <div class="col-xs-1"><a class="add-btn">BulkEdit</a></div>
                                    <div class="col-xs-1"><a class="add-btn">+Add</a></div>
                                </div>
                            </div>
                            <div class="api-body">
                                <table class="table">
                                    <thead>
                                    <tr style="font-size:14px;">
                                        <th style="min-width:120px;">名称</th>
                                        <th style="width:60px;">类型</th>
                                        <th style="width:60px;">是否<br>数组</th>
                                        <th style="width:60px;">是否<br>必填</th>
                                        <th style="width:60px;">默认值</th>
                                        <th style="width:60px;">示例</th>
                                        <th style="width:60px;">描述</th>
                                        <th style="width:110px;min-width:100px;">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="tab-name">
                                            <input type="text" class="form-control"/>
                                        </td>
                                        <td class="tab-type">
                                            <select class="form-control select-width">
                                                <option>Number</option>
                                                <option>Float</option>
                                                <option>String</option>
                                                <option>Boolean</option>
                                            </select>
                                        </td>
                                        <td class="tab-arr">
                                            <input type="checkbox" name="is_requrie">
                                        </td>
                                        <td class="tab-must">
                                            <input type="checkbox" name="is_requrie">
                                        </td>
                                        <td class="tab-def">
                                            <input type="text" class="form-control"/>
                                        </td>
                                        <td class="tab-exmple">
                                            <input type="text" class="form-control"/>
                                        </td>
                                        <td class="tab-dec">
                                            <input type="text" class="form-control"/>
                                        </td>
                                        <td class="tab-oper">
                                            <a href="javascript:;">新增</a>|
                                            <a href="javascript:;">移除</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Response_Main" class="content-list" style="display: none;">
                    <div class="req-content">
                        <div class="api-top">
                            <div class="row">
                                <div class="col-xs-1">Body</div>
                                <div class="col-xs-9"></div>
                                <div class="col-xs-1"><a class="add-btn">BulkEdit</a></div>
                                <div class="col-xs-1"><a class="add-btn">+Add</a></div>
                            </div>
                        </div>
                        <div class="api-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>名称</th>
                                    <th>类型</th>
                                    <th>是否数组</th>
                                    <th>是否必填</th>
                                    <th>默认值</th>
                                    <th>示例</th>
                                    <th>描述</th>
                                    <th style="min-width: 120px">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <select class="form-control select-width">
                                            <option>Number</option>
                                            <option>Float</option>
                                            <option>String</option>
                                            <option>Boolean</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="is_requrie">
                                    </td>
                                    <td>
                                        <input type="checkbox" name="is_requrie">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <a href="javascript:;">新增</a>|
                                        <a href="javascript:;">移除</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <select class="form-control select-width">
                                            <option>Number</option>
                                            <option>Float</option>
                                            <option>String</option>
                                            <option>Boolean</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="is_requrie">
                                    </td>
                                    <td>
                                        <input type="checkbox" name="is_requrie">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <a href="javascript:;">新增</a>|
                                        <a href="javascript:;">移除</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <select class="form-control select-width">
                                            <option>Number</option>
                                            <option>Float</option>
                                            <option>String</option>
                                            <option>Boolean</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="is_requrie">
                                    </td>
                                    <td>
                                        <input type="checkbox" name="is_requrie">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <a href="javascript:;">新增</a>|
                                        <a href="javascript:;">移除</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <select class="form-control select-width">
                                            <option>Number</option>
                                            <option>Float</option>
                                            <option>String</option>
                                            <option>Boolean</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="is_requrie">
                                    </td>
                                    <td>
                                        <input type="checkbox" name="is_requrie">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <a href="javascript:;">新增</a>|
                                        <a href="javascript:;">移除</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <select class="form-control select-width">
                                            <option>Number</option>
                                            <option>Float</option>
                                            <option>String</option>
                                            <option>Boolean</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="checkbox" name="is_requrie">
                                    </td>
                                    <td>
                                        <input type="checkbox" name="is_requrie">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <a href="javascript:;">新增</a>|
                                        <a href="javascript:;">移除</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="Response_Main" class="content-list" style="display: none;">
                    <div class="req-content">
                        <div class="api-top">
                            <div class="row">
                                <div class="col-xs-1">ErrorCodes</div>
                                <div class="col-xs-9"></div>
                                <div class="col-xs-1"><a class="add-btn">BulkEdit</a></div>
                                <div class="col-xs-1"><a class="add-btn">+Add</a></div>
                            </div>
                        </div>
                        <div class="api-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>错误码</th>
                                    <th>显示信息</th>
                                    <th>描述</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <a href="javascript:;">移除</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <a href="javascript:;">移除</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <a href="javascript:;">移除</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <a href="javascript:;">移除</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <a href="javascript:;">移除</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <a href="javascript:;">移除</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <script>
        $(function () {
            $(".tab ul li").click(function () {
                var _this = $(this);
                var index = _this.index();
                _this.addClass("active").siblings().removeClass("active");
                $(".edit-content .content-list").hide();
                $(".edit-content .content-list").eq(index).show()

            });

        });
    require(['{% static "js/config.js" %}?v={{config.v}}'], function () {
        require(['controller/atm/api_edit']);
    });
    </script>
{% endblock %}
