{% extends "shared/base.html" %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static "css/main.css" %}?v={{ config.v }}">
    <link rel="stylesheet" href="{% static "css/apipage.css" %}?v={{ config.v }}">

    <script src="{% static 'js/lib/beautify.js' %}?v={{ config.v }}"></script>
{% endblock %}
{% block container %}
    <div class="container">
        <div class="edit-top">
            <ol class="breadcrumb">
                <li>
                    {% if team == null %}
                        <a href="/projectlist">Project</a>
                    {% else %}
                        <a href="/projectlist?team={{ team }}">Project</a>
                    {% endif %}
                </li>
                <li>
                    {% if project == null %}
                        <a href="/apilist">api</a>
                    {% else %}
                        <a href="/apilist?project={{ project }}">Api</a>
                    {% endif %}
                </li>
                <li class="active" ng-bind="apiName"></li>
            </ol>
            <div class="edit-btns">
                <button ng-show="isEdit" type="button" ng-click="doEdit()" class="btn btn-primary">Edit</button>
                <button ng-hide="isEdit" ng-click="saveData()" type="button" class="btn btn-success">Save</button>
                <button ng-hide="isEdit" ng-click="cancelEdit()" type="button" class="btn btn-default">Cancel</button>
            </div>
        </div>
        <div class="edit-body">
            <div class="tab">
                <ul>
                    <li id="Base" class="active">Base</li>
                    <li id="Request">Request</li>
                    <li id="Response">Response</li>
                    <li id="ErrorCode">ErrorCode</li>
                </ul>
            </div>
            <div class="edit-content api-edit-content">
                <div id="Base_Main" class="content-list">
                    <div class="row">
                        <div class="col-xs-2">Project:</div>
                        <div class="col-xs-2">
                            <select ng-disabled='isEdit' class="form-control"
                                    ng-options="project.project_name for project in projectList"
                                    ng-model="project_list_selected"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">Name:</div>
                        <div class="col-xs-10">
                            <input type="text" ng-disabled='isEdit' ng-model="ApiData.base.name"
                                   placeholder="请输入接口名称..." class="form-control text-input">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">Mock:</div>
                        <div class="col-xs-10">
                            <textarea ng-disabled='isEdit' ng-model="ApiData.base.mock" class="form-control textarea"
                                      cols="30" rows="8"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-xs-2">&nbsp;</div>
                            <div class="col-xs-10 text-left">
                                <button ng-disabled='isEdit' type="button" ng-click="formatMock()"
                                        class="btn btn-xs btn-primary">Format
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-2">Description:</div>
                        <div class="col-xs-10">
                            <textarea style="height:100px !important;" ng-disabled='isEdit'
                                      ng-model="ApiData.base.description"
                                      class="form-control textarea description-text" cols="30" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">Tags:</div>
                        <div class="col-xs-10 TagsTxt">
                            <span ng-dblclick="delTags($index)" ng-repeat="(key, value) in ApiData.base.tags"
                                  class="label label-warning" ng-class-even="'label-danger'">
                                @{value}@
                            </span>
                            {#<span class="label label-danger">危险标签</span>#}
                            <input ng-disabled='isEdit' placeholder="请创建提示标签" ng-keyup="enterTag($event)"
                                   type="text"><em class="tips">(双击删除标签)</em>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">State:</div>
                        <div class="col-xs-10">
                            <label class="radio-inline">
                                <input ng-click="setState(true)" ng-checked="ApiData.base.state"
                                       ng-disabled='isEdit'
                                       type="radio" name="state"/>&nbsp;Enable</label>
                            <label class="radio-inline">
                                <input ng-click="setState(false)"
                                       ng-checked="!ApiData.base.state" ng-disabled='isEdit'
                                       type="radio" name="state"/>Disable</label>
                        </div>
                    </div>
                </div>
                <div id="Request_Main" class="content-list" style="display: none;">
                    <div class="row">
                        <div class="col-xs-2">URL:</div>
                        <div class="col-xs-10">
                            <input ng-disabled='isEdit' type="text" ng-model="ApiData.request.url"
                                   placeholder="请输入路径..."
                                   class="form-control text-input">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">Method:</div>
                        <div class="col-xs-3">
                            <select style="width:90%;" ng-disabled='isEdit' ng-model="ApiData.request.method"
                                    class="form-control select-width">
                                <option>POST</option>
                                <option>GET</option>
                                <option>PUT</option>
                                <option>DELETE</option>
                            </select>
                        </div>
                        <div class="col-xs-2">ContentType:</div>
                        <div class="col-xs-3">
                            <select style="width:90%;" ng-disabled='isEdit' ng-model="ApiData.request.content_type"
                                    class="form-control select-width">
                                <option>application/json</option>
                                <option>text/html</option>
                                <option>x-www-form-urlencode</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="req-content" id="Request-Headers">
                            <div class="api-top">
                                <div class="row">
                                    <div class="col-xs-1">Headers</div>
                                    <div class="col-xs-8"></div>
                                    <div class="col-xs-3" style="text-align: right">
                                        <button ng-disabled='isEdit' ng-click="toggleBulkEdit($event,'Rq_headers')"
                                                class="btn btn-xs btn-primary">BulkEdit
                                        </button>
                                        <button ng-disabled='isEdit || head_visible' ng-click="Add_headerDate()"
                                                class="btn btn-xs btn-primary">+Add
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="api-body">
                                <table ng-hide="head_visible" class="table">
                                    <thead>
                                    <tr style="font-size:14px;">
                                        <th class="taTitle" style="min-width:120px;">名称</th>
                                        <th class="taTitle" style="width:60px;">类型</th>
                                        <th class="taTitle" style="width:60px;">是否<br>必填</th>
                                        <th class="taTitle" style="width:60px;">默认值</th>
                                        <th class="taTitle" style="width:60px;">示例</th>
                                        <th class="taTitle" style="width:60px;">描述</th>
                                        <th class="taTitle" style="width:110px;min-width:100px;">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="RequestDate in ApiData.request.headers track by $index">
                                        <td class="tab-name">
                                            <input ng-disabled='isEdit' ng-model="RequestDate.field_name" type="text"
                                                   class="form-control"/>
                                        </td>
                                        <td class="tab-type">
                                            <select ng-disabled='isEdit' ng-model="RequestDate.field_type"
                                                    class="form-control select-width">
                                                <option>number</option>
                                                <option>boolean</option>
                                                <option>string</option>
                                                <option>object</option>
                                            </select>
                                        </td>
                                        <td class="tab-must">
                                            <input ng-disabled='isEdit' ng-model="RequestDate.is_required"
                                                   type="checkbox" name="is_requrie">
                                        </td>
                                        <td class="tab-def">
                                            <input ng-disabled='isEdit' ng-model="RequestDate.default"
                                                   type="text" class="form-control"/>
                                        </td>
                                        <td class="tab-exmple">
                                            <input ng-disabled='isEdit' ng-model="RequestDate.example"
                                                   type="text" class="form-control"/>
                                        </td>
                                        <td class="tab-dec">
                                            <input required="required" ng-disabled='isEdit' ng-change="a()"
                                                   ng-model="RequestDate.description" type="text" class="form-control"/>
                                        </td>
                                        <td class="tab-oper">
                                            <a ng-click="Del_headerDate($index)" href="javascript:;">移除</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div ng-show="head_visible" class="headers-bulkEdit bulkEdit">
                                    <textarea ng-disabled='isEdit' placeholder="@{bulkSample}@" ng-model="ApiData.request.headersBulk"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="req-content" id="Request-QueryString">
                            <div class="api-top">
                                <div class="row">
                                    <div class="col-xs-1">QueryString</div>
                                    <div class="col-xs-8"></div>
                                    <div class="col-xs-3" style="text-align: right">
                                        <button ng-disabled='isEdit' ng-click="toggleBulkEdit($event,'Rq_query_string')"
                                                class="btn btn-xs btn-primary">BulkEdit
                                        </button>
                                        <button ng-disabled='isEdit || query_string_visible' ng-click="Add_QueryStringDate()"
                                                class="btn btn-xs btn-primary">+Add
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="api-body">
                                <table ng-hide="query_string_visible" class="table">
                                    <thead>
                                    <tr style="font-size:14px;">
                                        <th class="taTitle" style="min-width:120px;">名称</th>
                                        <th class="taTitle" style="width:60px;">类型</th>
                                        <th class="taTitle" style="width:60px;">是否<br>必填</th>
                                        <th class="taTitle" style="width:60px;">默认值</th>
                                        <th class="taTitle" style="width:60px;">示例</th>
                                        <th class="taTitle" style="width:60px;">描述</th>
                                        <th class="taTitle" style="width:110px;min-width:100px;">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="RequestDate in ApiData.request.query_string track by $index">
                                        <td class="tab-name">
                                            <input ng-disabled='isEdit'
                                                   ng-model="RequestDate.field_name" type="text" class="form-control"/>
                                        </td>
                                        <td class="tab-type">
                                            <select ng-disabled='isEdit'
                                                    ng-model="RequestDate.field_type" class="form-control select-width">
                                                <option>number</option>
                                                <option>boolean</option>
                                                <option>string</option>
                                                <option>object</option>
                                            </select>
                                        </td>
                                        <td class="tab-must">
                                            <input ng-disabled='isEdit' ng-model="RequestDate.is_required"
                                                   type="checkbox" name="is_requrie">
                                        </td>
                                        <td class="tab-def">
                                            <input ng-disabled='isEdit'
                                                   ng-model="RequestDate.default" type="text" class="form-control"/>
                                        </td>
                                        <td class="tab-exmple">
                                            <input ng-disabled='isEdit'
                                                   ng-model="RequestDate.example" type="text" class="form-control"/>
                                        </td>
                                        <td class="tab-dec">
                                            <input ng-disabled='isEdit'
                                                   ng-model="RequestDate.description" type="text" class="form-control"/>
                                        </td>
                                        <td class="tab-oper">
                                            <a ng-click="Del_QueryStringDate($index)" href="javascript:;">移除</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div ng-show="query_string_visible" class="query_string-bulkEdit bulkEdit">
                                    <textarea ng-disabled='isEdit'
                                              ng-model="ApiData.request.query_stringBulk"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="req-content" id="Request-Body">
                            <div class="api-top">
                                <div class="row">
                                    <div class="col-xs-1">Body</div>
                                    <div class="col-xs-6"></div>
                                    <div class="col-xs-5" style="text-align: right">
                                        <span style="padding-right:5px;">mode</span>
                                        <select ng-disabled='isEdit'
                                                style="height:30px;margin-right:10px;width:100px;padding:4px 3px; display: inline-block"
                                                ng-model="ApiData.request.body.mode" class="form-control select-width">
                                            <option>urlencoded</option>
                                            <option>raw</option>
                                        </select>
                                        <button ng-disabled='isEdit' ng-click="toggleBulkEdit($event,'Rq_body')"
                                                class="btn btn-xs btn-primary">BulkEdit
                                        </button>
                                        <button ng-disabled='isEdit || body_visible' ng-click="Add_bodyDate()"
                                                class="btn btn-xs btn-primary">+Add
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="api-body">
                                <table ng-hide="body_visible" class="table">
                                    <thead>
                                    <tr style="font-size:14px;">
                                        <th class="taTitle" style="min-width:120px;">名称</th>
                                        <th class="taTitle" style="width:60px;">类型</th>
                                        <th class="taTitle" style="width:60px;">是否<br>数组</th>
                                        <th class="taTitle" style="width:60px;">是否<br>必填</th>
                                        <th class="taTitle" style="width:60px;">默认值</th>
                                        <th class="taTitle" style="width:60px;">示例</th>
                                        <th class="taTitle" style="width:60px;">描述</th>
                                        <th class="taTitle" style="width:110px;min-width:100px;">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="RequestDate in ApiData.request.body.data track by $index">
                                        <td class="tab-name">
                                            <input ng-disabled='isEdit'
                                                   ng-model="RequestDate.field_name" type="text" class="form-control"/>
                                        </td>
                                        <td class="tab-type">
                                            <select ng-disabled='isEdit'
                                                    ng-model="RequestDate.field_type" class="form-control select-width">
                                                <option>number</option>
                                                <option>boolean</option>
                                                <option>string</option>
                                                <option>object</option>
                                            </select>
                                        </td>
                                        <td class="tab-arr">
                                            <input ng-disabled='isEdit' ng-model="RequestDate.is_array" type="checkbox"
                                                   name="is_requrie">
                                        </td>
                                        <td class="tab-must">
                                            <input ng-disabled='isEdit' ng-model="RequestDate.is_required"
                                                   type="checkbox" name="is_requrie">
                                        </td>
                                        <td class="tab-def">
                                            <input ng-disabled='isEdit'
                                                   ng-model="RequestDate.default" type="text" class="form-control"/>
                                        </td>
                                        <td class="tab-exmple">
                                            <input ng-disabled='isEdit'
                                                   ng-model="RequestDate.example" type="text" class="form-control"/>
                                        </td>
                                        <td class="tab-dec">
                                            <input ng-disabled='isEdit'
                                                   ng-model="RequestDate.description" type="text" class="form-control"/>
                                        </td>
                                        <td class="tab-oper">
                                            <span ng-click="Add_bodyChildDate()"
                                                  ng-if="RequestDate.field_type == 'object' && ApiData.request.body.mode == 'raw'"><a
                                                    href="javascript:;">新增</a>|</span>
                                            <a ng-click="Del_bodyDate($index)" href="javascript:;">移除</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div ng-show="body_visible" class="body-bulkEdit bulkEdit">
                                    <textarea ng-disabled='isEdit'
                                              ng-model="ApiData.request.BodyBulk"></textarea>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="Response_Main" class="content-list" style="display: none;">
                    <div class="req-content">
                        <div class="api-top">
                            <div class="row">
                                <div class="col-xs-1">Body</div>
                                <div class="col-xs-8"></div>
                                <div class="col-xs-3" style="text-align: right">
                                    <button ng-disabled='isEdit' ng-click="toggleBulkEdit($event,'Response')"
                                            class="btn btn-xs btn-primary">BulkEdit
                                    </button>
                                    <button ng-disabled='isEdit || Response_visible' ng-click="Add_ResponseDate()"
                                            class="btn btn-xs btn-primary">+Add
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="api-body">
                            <table ng-hide="Response_visible" class="table">
                                <thead>
                                <tr>
                                    <th class="taTitle">名称</th>
                                    <th class="taTitle">类型</th>
                                    <th class="taTitle">是否数组</th>
                                    <th class="taTitle">是否必填</th>
                                    <th class="taTitle">默认值</th>
                                    <th class="taTitle">示例</th>
                                    <th class="taTitle">描述</th>
                                    <th class="taTitle" style="min-width: 120px">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="RequestDate in ApiData.response.body track by $index">
                                    <td class="tab-name">
                                        <input ng-disabled='isEdit'
                                               ng-model="RequestDate.field_name" type="text" class="form-control"/>
                                    </td>
                                    <td class="tab-type">
                                        <select ng-disabled='isEdit'
                                                ng-model="RequestDate.field_type" class="form-control select-width">
                                            <option>number</option>
                                            <option>boolean</option>
                                            <option>string</option>
                                            <option>object</option>
                                        </select>
                                    </td>
                                    <td class="tab-arr">
                                        <input ng-disabled='isEdit' ng-model="RequestDate.is_array" type="checkbox"
                                               name="is_requrie">
                                    </td>
                                    <td class="tab-must">
                                        <input ng-disabled='isEdit' ng-model="RequestDate.is_required" type="checkbox"
                                               name="is_requrie">
                                    </td>
                                    <td class="tab-def">
                                        <input ng-disabled='isEdit'
                                               ng-model="RequestDate.default" type="text" class="form-control"/>
                                    </td>
                                    <td class="tab-exmple">
                                        <input ng-disabled='isEdit'
                                               ng-model="RequestDate.example" type="text" class="form-control"/>
                                    </td>
                                    <td class="tab-dec">
                                        <input ng-disabled='isEdit'
                                               ng-model="RequestDate.description" type="text" class="form-control"/>
                                    </td>
                                    <td class="tab-oper">
                                            <span ng-click="Add_ResponseChildDate()"
                                                  ng-if="RequestDate.field_type == 'object'"><a
                                                    href="javascript:;">新增</a>|</span>
                                        <a ng-click="Del_ResponseDate($index)" href="javascript:;">移除</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div ng-show="Response_visible" class="Response-bulkEdit bulkEdit">
                                <textarea ng-disabled='isEdit' ng-model="ResponseBulk"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="ErrorCodes_Main" class="content-list" style="display: none;">
                    <div class="req-content">
                        <div class="api-top">
                            <div class="row">
                                <div class="col-xs-1">ErrorCodes</div>
                                <div class="col-xs-8"></div>
                                <div class="col-xs-3" style="text-align: right">
                                    <button ng-disabled='isEdit' ng-click="toggleBulkEdit($event,'ErrorCodes')"
                                            class="btn btn-xs btn-primary">BulkEdit
                                    </button>
                                    <button ng-disabled='isEdit || ErrorCodes_visible' ng-click="Add_ErrorCodeDate()"
                                            class="btn btn-xs btn-primary">+Add
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="api-body">
                            <table ng-hide="ErrorCodes_visible" class="table">
                                <thead>
                                <tr>
                                    <th class="taTitle">错误码</th>
                                    <th class="taTitle">显示信息</th>
                                    <th class="taTitle">描述</th>
                                    <th class="taTitle">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="RequestDate in ApiData.error_code track by $index">
                                    <td>
                                        <input ng-disabled='isEdit'
                                               ng-model="RequestDate.error_code" type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <input ng-disabled='isEdit'
                                               ng-model="RequestDate.display_message" type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <input ng-disabled='isEdit'
                                               ng-model="RequestDate.description" type="text" class="form-control"/>
                                    </td>
                                    <td>
                                        <a ng-click="Del_ErrorCodeDate($index)" href="javascript:;">移除</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div ng-show="ErrorCodes_visible" class="ErrorCodes-bulkEdit bulkEdit">
                                <textarea ng-disabled='isEdit'
                                          ng-model="ErrorCodesBulk"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        $(function () {
            $(".tab ul li").click(function () {
                var _this = $(this);
                var index = _this.index();
                _this.addClass("active").siblings().removeClass("active");
                $(".edit-content .content-list").hide();
                $(".edit-content .content-list").eq(index).show()

            });

        });
        require(['{% static "js/config.js" %}?v={{config.v}}'], function () {
            require(['controller/atm/api_edit']);
        });
    </script>
{% endblock %}
