{% extends "shared/base.html" %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{% static "css/main.css" %}?v={{ config.v }}">
<link rel="stylesheet" href="{% static "css/apipage.css" %}?v={{ config.v }}">
{%endblock%}
{% block container %}
{% include "shared/headerBar.html" %}
<div class="container">
    <div class="api-top">
        <div class="row">
            <div class="col-xs-1">APIS</div>
            <div class="col-xs-9"></div>
            <div class="col-xs-1"><a class="add-btn">+Add</a></div>
            <div class="col-xs-1">
                <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle" id="dropdownMenu1"
                            data-toggle="dropdown">
                        More
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Import</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Export</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="api-body">
        <table class="table">
            <thead>
            <tr>
                <th>序号</th>
                <th>操作</th>
                <th>Name</th>
                <th>Path</th>
                <th>Method</th>
                <th>Tags</th>
                <th>LastEditTime</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="List in apiArr">
                <td>@{}@</td>
                <td>
                    <a href="/api_edit?apiid=@{List.id}@">View</a>|
                    <a href="javascript:;">Mock</a>|
                    <a href="javascript:;">Test</a>
                </td>
                <td>
                    @{List.interface_name}@
                </td>
                <td>
                    @{List.url}@
                </td>
                <td>
                    @{List.method}@
                </td>
                <td>
                    @{List.tags}@
                </td>
                <td>
                    @{List.update_time}@
                </td>
            </tr>
            </tbody>
        </table>
        <div id="pages"><ul id="pagination" class="pagination-sm"></ul></div>
    </div>

</div>

<script type="text/javascript">
    require(['{% static "js/config.js" %}?v={{config.v}}'], function () {
        require(['controller/atm/apilist']);
    });
</script>
{%endblock%}
