{% extends "shared/base.html" %}
{% load staticfiles %}
{% block body_attributes %}
    ng-click="document_click()"
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static "css/main.css" %}?v={{ config.v }}">
{% endblock %}
{% block container %}
    <div class="container-content teamListyle">
        <div class="container hide" style="border-bottom:none">
            <div class="api-top">
                <div class="row text-left">
                    <div class="col-xs-9">Project</div>
                </div>
            </div>
            <p>{{ msg }}</p>

            {#projectlist?team=123#}
            <div class="edit-main api-body team-list">
                <ul>

                    {% if isHideAdd != 1 %}
                        <li ng-click="addTeam()" class="addBtn">
                            <a href="javascript:;">
                                <p class="team-pic">
                                    &nbsp;
                                </p>

                                <p class="team-name">添加</p>
                            </a>
                        </li>
                    {% endif %}
                    <li class="listLi" ng-repeat="List in projectArr" data-project="@{List.project_id}@">
                        <a href="/apilist?project=@{List.project_id}@">
                            <p class="team-pic">
                                <img ng-if="List.project_pic_url.length > 0" ng-src="@{List.project_pic_url}@"
                                                     onerror="this.src='{% static "images/errorImg.jpg" %}?v={{ config.v }}'"/>
                                <img ng-if="List.project_pic_url.length == 0" ng-src="{% static "images/no_result.jpg" %}" alt="">
                            </p>

                            <p class="team-name">@{List.project_name}@</p>
                        </a>

                        <div class="action-btn">
                            <span class="edit" ng-if="List.role==3 || List.role==2"
                                  ng-click="edit_project(List.project_id, List.team)">Edit</span>
                            <span class="Members"
                                  ng-click="edit_member(List.project_id, List.team, List.role)">Members</span>
                        </div>
                    </li>
                </ul>
                <div class="loadTips">
                    <p ng-show="isLast">loading next page....</p>

                    <p ng-hide="isLast">The list has been loaded</p>
                </div>
                {% if isHideAdd != 1 %}
                    <div class="dialog" ng-show="isDialogShow">
                        <div class="dialogBox addTeam">
                            <h3>@{detail_title}@</h3>

                            <div class="addTeam-main">
                                <p>
                                    <span class="dsc">TeamName</span>
                                    <select class="form-control" style="width: 160px"
                                            ng-options="team.team_name for team in team_list"
                                            ng-model="team_list_selected"></select>
                                </p>

                                <p>
                                    <span class="dsc">ProjectName</span>
                                    <input class="pName" placeholder="project name" ng-model="itemData.project_name" value=""
                                           type="text">
                                </p>

                                <p><span class="dsc">HOST</span>
                                    <input class="thost" ng-model="itemData.host" placeholder="host" type="text">
                                </p>

                                <p><span class="dsc">pic_url</span>
                                    <input class="pic_url" ng-model="itemData.project_pic_url" placeholder="cover picture"
                                           type="text">
                                </p>

                                <p>
                                    <span class="dsc">Description</span>
                                    <textarea class="tDec" ng-model="itemData.description"
                                              placeholder="Description"></textarea>
                                </p>

                                <div class="addBtn">
                                    <span ng-click="saveProject()" class="active">save</span>
                                    <span ng-click="closeDialog()">close</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <!--member编辑-->
                <div class="dialog member-dialog" ng-show="memberDialogShow">
                    <div class="dialogBox addMember">
                        <h3>Project Member Edit</h3>

                        <div class="member-box">
                            <div class="row" ng-hide="member_role <= 1">
                                <div class="col-xs-1">
                                </div>
                                <div class="col-xs-2">UserName:</div>
                                <div class="col-xs-3 input-tip-div">
                                    <input type="text" ng-model="userName" id="username" ng-change="watch_value()"
                                           class="form-control" placeholder="Search for username...">

                                    <div class="username_tip ng-hide" id="userNameTipDialog"
                                         ng-show="userNameTipDialog">
                                        <p ng-repeat="user in userList" ng-click="select_username(user.username)">
                                            @{user.username}@
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <select name="" id="" class="form-control" ng-model="roleSelect">
                                        <option value="1">General</option>
                                        <option value="2">Admin</option>
                                    </select>
                                </div>
                                <div class="col-xs-2">
                                    <a href="javascript:;" ng-click="save_member()" class="btn btn-primary">+Add</a>
                                </div>
                            </div>
                            <div class="member-list" ng-show="memberListBox">
                                <h3>Panel heading</h3>

                                <div class="member-list-box">
                                    <div class="row">
                                        <div class="col-xs-1">#</div>
                                        <div class="col-xs-3">UserName</div>
                                        <div class="col-xs-5">Permissions</div>
                                        <div class="col-xs-3">Operation</div>
                                    </div>
                                    <div class="row" ng-repeat="member in memberList">
                                        <div class="col-xs-1" ng-bind="$index+1">1</div>
                                        <div class="col-xs-3">@{member.user}@</div>
                                        <div class="col-xs-5">
                                            <div class="member-super" ng-if="member.role <= 2">
                                                <div ng-if="member_role == 2 || member_role == 3">
                                                    <label>
                                                        <input type="radio" id="@{member.id}@" name="role_@{member.id}@"
                                                               ng-change="change_radio(member.id)"
                                                               ng-model="member.role" ng-true-value="1"
                                                               ng-false-value="2" value="1"/>General
                                                    </label>
                                                    <label>
                                                        <input type="radio" id="@{member.id}@" name="role_@{member.id}@"
                                                               ng-change="change_radio(member.id)"
                                                               ng-model="member.role" ng-true-value="2"
                                                               ng-false-value="1" value="2"/>Admin
                                                    </label>
                                                </div>
                                                <div ng-if="member_role == 1">
                                                    <label>
                                                        <input type="radio" id="@{member.id}@" name="role_@{member.id}@"
                                                               disabled ng-change="change_radio(member.id)"
                                                               ng-model="member.role" ng-true-value="1"
                                                               ng-false-value="2" value="1"/>General
                                                    </label>
                                                    <label>
                                                        <input type="radio" id="@{member.id}@" name="role_@{member.id}@"
                                                               disabled ng-change="change_radio(member.id)"
                                                               ng-model="member.role" ng-true-value="2"
                                                               ng-false-value="1" value="2"/>Admin
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="member-super" ng-if="member.role == 3">* SuperAdmin</div>
                                        </div>
                                        <div class="col-xs-3">
                                            <a href="javascript:;" class="btn" ng-click="delect_member(member.id)"
                                               ng-if="member_role > 1 && member.role !=3">Delete</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="member-close">
                                <a href="javascript:;" ng-click="close_member_dialog()"
                                   class="btn btn-warning">Close</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        require(['{% static "js/config.js" %}?v={{config.v}}'], function () {
            require(['controller/atm/projectlist']);
        });
    </script>
{% endblock %}
