{% extends "shared/base.html" %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static "css/main.css" %}?v={{ config.v }}">
{% endblock %}

{% block container %}
    <div class="container-content teamListyle">
        <div class="container">
            <div class="api-top">
                <div class="row text-left">
                    <div class="col-xs-9">Team</div>
                </div>
            </div>
            <p>{{ msg }}</p>

            {#projectlist?team=123#}
            <div class="edit-main api-body team-list">
                <ul>

                    {%if isHideAdd != 1%}
                    <li ng-click="addTeam()" class="listLi addBtn">
                        <a href="javascript:;">
                            <p class="team-pic">
                                &nbsp;
                            </p>
                            <p class="team-name">添加</p>
                        </a>

                    </li>
                    {% endif  %}
                    <li class="listLi" ng-repeat="List in teamArr">
                        <a href="/projectlist?team=@{List.team_id}@">
                            <p class="team-pic">
                                <img ng-if="List.team_pic_url.length > 0" ng-src="@{List.team_pic_url}@" onerror="this.src='{% static "images/errorImg.jpg" %}?v={{ config.v }}'"/>
                                <img ng-if="List.team_pic_url.length == 0" ng-src="{% static "images/no_result.jpg" %}" alt="">
                            </p>
                            <p class="team-name">@{List.team_name}@</p>
                        </a>
                    </li>
                </ul>
                <div class="loadTips">
                    <p ng-show="isLast">loading next page....</p>

                    <p ng-hide="isLast">The list has been loaded</p>
                </div>
                {%if isHideAdd != 1%}
                <div class="dialog ng-hide" ng-show="isDialogShow">
                    <div class="dialogBox addTeam">
                        <h3>Team Edit</h3>

                        <div class="addTeam-main">
                            <p><span class="dsc">TeamName</span><input class="tName" placeholder="team name" type="text">
                            </p>

                            <p><span class="dsc">picUrl</span><input class="tPic" placeholder="cover picture" type="text"></p>

                            <p><span class="dsc">Description</span><textarea class="tDec" placeholder="Description"></textarea></p>

                            <div class="addBtn">
                                <span ng-click="saveDate()" class="active">save</span>
                                <span ng-click="closeDialog()">close</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif  %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        require(['{% static "js/config.js" %}?v={{config.v}}'], function () {
            require(['controller/atm/team']);
        });
    </script>
{% endblock %}
