/* line 2, ../sass/apipage.scss */
.dropdown {
  display: inline;
  position: relative;
}

/* line 7, ../sass/apipage.scss */
.edit-top {
  overflow: hidden;
}
/* line 9, ../sass/apipage.scss */
.edit-top .breadcrumb {
  float: left;
  margin-bottom: 0;
  background: none;
}
/* line 14, ../sass/apipage.scss */
.edit-top:after {
  content: " ";
  overflow: hidden;
}
/* line 18, ../sass/apipage.scss */
.edit-top .edit-btns {
  padding: 8px 15px;
  float: right;
}

/* line 24, ../sass/apipage.scss */
.edit-body {
  padding: 15px 0;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 30, ../sass/apipage.scss */
.edit-body .tab ul {
  overflow: hidden;
  width: 96%;
  margin: 0 auto;
}
/* line 35, ../sass/apipage.scss */
.edit-body .tab li {
  cursor: pointer;
  float: left;
  width: 23%;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background: #ccc;
  margin: 0 1%;
}
/* line 48, ../sass/apipage.scss */
.edit-body .tab li.active {
  background: #428bca;
}

/* line 54, ../sass/apipage.scss */
.api-edit-content {
  margin-top: 10px;
}

/* line 60, ../sass/apipage.scss */
.edit-content .row {
  margin-bottom: 10px;
}
/* line 63, ../sass/apipage.scss */
.edit-content .col-xs-2 {
  text-align: right;
}
/* line 66, ../sass/apipage.scss */
.edit-content .col-xs-10 {
  text-align: left;
}
/* line 69, ../sass/apipage.scss */
.edit-content .text-input {
  outline: none;
  display: block;
  width: 98%;
  padding: 5px;
  border-radius: 4px;
  -moz-box-shadow: none;
  -o-transition: all 0s;
  -moz-transition: all 0s;
  transition: all 0s;
  -ms-transition: all .0s;
}
/* line 82, ../sass/apipage.scss */
.edit-content .text-input:active {
  padding: 5px;
}
/* line 85, ../sass/apipage.scss */
.edit-content .textarea {
  display: block;
  width: 98%;
  height: 450px !important;
  resize: none;
  outline: none;
}
/* line 93, ../sass/apipage.scss */
.edit-content .select-width {
  width: 150px;
}

/* line 100, ../sass/apipage.scss */
.description-text {
  height: 100px;
}

/* line 104, ../sass/apipage.scss */
.req-content {
  width: 94%;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin: 20px auto;
  background: #f1f1f1;
  padding: 0;
}
/* line 111, ../sass/apipage.scss */
.req-content .add-btn {
  background: #428bca;
  padding: 4px 10px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
/* line 118, ../sass/apipage.scss */
.req-content .row {
  margin: 0;
}

/* line 128, ../sass/apipage.scss */
.tab-type select {
  width: 80px !important;
  padding: 4px 6px !important;
  display: inherit !important;
  height: 30px !important;
}

/* line 137, ../sass/apipage.scss */
.tab-def input, .tab-exmple input, .tab-dec input {
  width: 100px !important;
}

/* line 142, ../sass/apipage.scss */
.import-box-lay {
  display: none;
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}

/* line 153, ../sass/apipage.scss */
.import-box {
  width: 850px;
  background: #fff;
}
/* line 157, ../sass/apipage.scss */
.import-box .import-box-header {
  text-align: left;
  height: 40px;
  line-height: 40px;
  background: #cccccc;
}
/* line 162, ../sass/apipage.scss */
.import-box .import-box-header span {
  margin-left: 30px;
  color: #666;
}
/* line 167, ../sass/apipage.scss */
.import-box .IsReplace {
  text-align: left !important;
}
/* line 170, ../sass/apipage.scss */
.import-box .row {
  margin-bottom: 10px;
}
/* line 173, ../sass/apipage.scss */
.import-box .import-content {
  margin-top: 20px;
}
/* line 176, ../sass/apipage.scss */
.import-box .text-input {
  resize: none;
  overflow-y: auto;
  height: 200px !important;
}

/* line 184, ../sass/apipage.scss */
.bulkEdit textarea {
  width: 96%;
  margin-top: 15px;
  min-height: 200px;
}

/* line 193, ../sass/apipage.scss */
.TagsTxt span {
  padding: 6px 12px;
  margin: 0 8px 0 0 !important;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  font-weight: 100;
}
/* line 201, ../sass/apipage.scss */
.TagsTxt input {
  padding: 2px 6px !important;
  height: 24px !important;
}
/* line 205, ../sass/apipage.scss */
.TagsTxt em.tips {
  font-style: normal;
  font-size: 12px;
  padding-left: 10px;
}

/* line 212, ../sass/apipage.scss */
.code-box {
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
  position: relative;
  width: 700px;
}
/* line 218, ../sass/apipage.scss */
.code-box .code-type {
  margin: 10px 20px;
  text-align: left;
}
/* line 223, ../sass/apipage.scss */
.code-box .code-content pre {
  max-height: 400px;
  margin: 0 20px 20px;
  overflow-y: scroll;
  text-align: left;
}
/* line 230, ../sass/apipage.scss */
.code-box .code-action {
  text-align: right;
  margin-bottom: 15px;
}
/* line 233, ../sass/apipage.scss */
.code-box .code-action a {
  margin-right: 20px;
}
/* line 236, ../sass/apipage.scss */
.code-box .code-action .close-btn {
  background: #ccc;
  color: #fff;
}
/* line 242, ../sass/apipage.scss */
.code-box #copy_code_success {
  position: absolute;
  color: #ffb945;
  left: 24px;
  bottom: 20px;
}

/* line 249, ../sass/apipage.scss */
.code-type-select {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  position: relative;
}
/* line 254, ../sass/apipage.scss */
.code-type-select i {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #666;
  top: 13px;
  right: 10px;
}
/* line 264, ../sass/apipage.scss */
.code-type-select .code-selected {
  cursor: pointer;
  position: relative;
}
/* line 269, ../sass/apipage.scss */
.code-type-select .code-select-tips {
  position: absolute;
  background: #fff;
  width: 200px;
  border: 1px solid #ccc;
  border-top: 0;
  top: 34px;
}
/* line 276, ../sass/apipage.scss */
.code-type-select .code-select-tips li {
  height: 30px;
  line-height: 20px;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
/* line 282, ../sass/apipage.scss */
.code-type-select .code-select-tips li:last-of-type {
  border: none;
}
/* line 286, ../sass/apipage.scss */
.code-type-select .code-select-tips li:hover {
  color: #fff;
  background: #3071a9;
}

/* line 293, ../sass/apipage.scss */
.toolbar-item {
  display: none !important;
}
