/* line 2, ../sass/apipage.scss */
.dropdown {
  position: relative;
}

/* line 5, ../sass/apipage.scss */
.api-top {
  padding: 5px 0;
}

/* line 9, ../sass/apipage.scss */
.row {
  margin: 0;
}

/* line 14, ../sass/apipage.scss */
.api-body {
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 18, ../sass/apipage.scss */
.api-body .table {
  margin-bottom: 0;
}
/* line 21, ../sass/apipage.scss */
.api-body .table tr th {
  text-align: center;
}
/* line 26, ../sass/apipage.scss */
.api-body .page {
  border-top: 1px solid #ccc;
}
/* line 29, ../sass/apipage.scss */
.api-body .pagination {
  margin: 5px auto;
}

/* line 34, ../sass/apipage.scss */
.edit-top {
  overflow: hidden;
}
/* line 36, ../sass/apipage.scss */
.edit-top .breadcrumb {
  float: left;
  margin-bottom: 0;
  background: none;
}
/* line 41, ../sass/apipage.scss */
.edit-top:after {
  content: " ";
  overflow: hidden;
}
/* line 45, ../sass/apipage.scss */
.edit-top .edit-btns {
  padding: 8px 15px;
  float: right;
}

/* line 51, ../sass/apipage.scss */
.edit-body {
  padding: 15px 0;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 57, ../sass/apipage.scss */
.edit-body .tab ul {
  overflow: hidden;
  width: 96%;
  margin: 0 auto;
}
/* line 62, ../sass/apipage.scss */
.edit-body .tab li {
  cursor: pointer;
  float: left;
  width: 23%;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background: #ccc;
  margin: 0 1%;
}
/* line 75, ../sass/apipage.scss */
.edit-body .tab li.active {
  background: #428bca;
}

/* line 81, ../sass/apipage.scss */
.edit-content {
  padding: 20px 0;
}
/* line 83, ../sass/apipage.scss */
.edit-content .row {
  margin-bottom: 10px;
}
/* line 86, ../sass/apipage.scss */
.edit-content .col-xs-2 {
  text-align: right;
}
/* line 89, ../sass/apipage.scss */
.edit-content .col-xs-10 {
  text-align: left;
}
/* line 92, ../sass/apipage.scss */
.edit-content .text-input {
  outline: none;
  display: block;
  width: 98%;
  padding: 5px;
  border-radius: 4px;
  -moz-box-shadow: none;
  -o-transition: all 0s;
  -moz-transition: all 0s;
  transition: all 0s;
  -ms-transition: all .0s;
}
/* line 104, ../sass/apipage.scss */
.edit-content .text-input:active {
  padding: 5px;
}
/* line 107, ../sass/apipage.scss */
.edit-content .textarea {
  display: block;
  width: 98%;
  height: 150px !important;
  resize: none;
  outline: none;
}
/* line 115, ../sass/apipage.scss */
.edit-content .select-width {
  width: 150px;
}

/* line 120, ../sass/apipage.scss */
.req-content {
  width: 90%;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin: 20px auto;
  background: #f1f1f1;
  padding: 0;
}
/* line 127, ../sass/apipage.scss */
.req-content .add-btn {
  background: #428bca;
  padding: 4px 10px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
/* line 134, ../sass/apipage.scss */
.req-content .row {
  margin: 0;
}

/* line 142, ../sass/apipage.scss */
.tab-type select {
  width: 80px !important;
  padding: 4px 6px !important;
  display: inherit !important;
  height: 30px !important;
}

/* line 150, ../sass/apipage.scss */
.tab-def input, .tab-exmple input, .tab-dec input {
  width: 100px !important;
}
