/* line 3, ../sass/_common.scss */
a, a:hover, a:focus {
  color: #4aaf51;
  text-decoration: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

/* line 5, ../sass/login.scss */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #888;
  line-height: 30px;
  text-align: center;
}

/* line 14, ../sass/login.scss */
strong {
  font-weight: 500;
}

/* line 18, ../sass/login.scss */
a, a:hover, a:focus {
  color: #4aaf51;
  text-decoration: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

/* line 28, ../sass/login.scss */
h1, h2 {
  margin-top: 10px;
  font-size: 38px;
  font-weight: 100;
  color: #555;
  line-height: 50px;
}

/* line 36, ../sass/login.scss */
h3 {
  font-size: 22px;
  font-weight: 300;
  color: #555;
  line-height: 30px;
}

/* line 43, ../sass/login.scss */
img {
  max-width: 100%;
}

/* line 47, ../sass/login.scss */
::-moz-selection {
  background: #4aaf51;
  color: #fff;
  text-shadow: none;
}

/* line 53, ../sass/login.scss */
::selection {
  background: #4aaf51;
  color: #fff;
  text-shadow: none;
}

/* line 59, ../sass/login.scss */
.btn-link-1 {
  display: inline-block;
  height: 50px;
  margin: 5px;
  padding: 16px 20px 0 20px;
  background: #4aaf51;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 74, ../sass/login.scss */
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active {
  outline: 0;
  opacity: 0.6;
  color: #fff;
}

/* line 80, ../sass/login.scss */
.btn-link-1.btn-link-1-facebook {
  background: #4862a3;
}

/* line 84, ../sass/login.scss */
.btn-link-1.btn-link-1-twitter {
  background: #55acee;
}

/* line 88, ../sass/login.scss */
.btn-link-1.btn-link-1-google-plus {
  background: #dd4b39;
}

/* line 92, ../sass/login.scss */
.btn-link-1 i {
  padding-right: 5px;
  vertical-align: middle;
  font-size: 20px;
  line-height: 20px;
}

/* line 99, ../sass/login.scss */
.btn-link-2 {
  display: inline-block;
  height: 50px;
  margin: 5px;
  padding: 15px 20px 0 20px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 115, ../sass/login.scss */
.btn-link-2:hover, .btn-link-2:focus,
.btn-link-2:active, .btn-link-2:active:focus {
  outline: 0;
  opacity: 0.6;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}

/***** Top content *****/
/* line 125, ../sass/login.scss */
.inner-bg {
  padding: 100px 0 170px 0;
}

/* line 129, ../sass/login.scss */
.top-content .text {
  color: #fff;
}

/* line 133, ../sass/login.scss */
.top-content .text h1 {
  color: #fff;
}

/* line 137, ../sass/login.scss */
.top-content .description {
  margin: 20px 0 10px 0;
}

/* line 141, ../sass/login.scss */
.top-content .description p {
  opacity: 0.8;
}

/* line 145, ../sass/login.scss */
.top-content .description a {
  color: #fff;
}

/* line 149, ../sass/login.scss */
.top-content .description a:hover,
.top-content .description a:focus {
  border-bottom: 1px dotted #fff;
}

/* line 154, ../sass/login.scss */
.form-box {
  margin-top: 35px;
}

/* line 158, ../sass/login.scss */
.form-top {
  overflow: hidden;
  padding: 0 25px 15px 25px;
  background: #fff;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  text-align: left;
}

/* line 168, ../sass/login.scss */
.form-top-left {
  float: left;
  width: 75%;
  padding-top: 25px;
}

/* line 174, ../sass/login.scss */
.form-top-left h3 {
  margin-top: 0;
}

/* line 178, ../sass/login.scss */
.form-top-right {
  float: left;
  width: 25%;
  padding-top: 5px;
  font-size: 66px;
  color: #ddd;
  line-height: 100px;
  text-align: right;
}

/* line 188, ../sass/login.scss */
.form-bottom {
  padding: 25px 25px 30px 25px;
  background: #eee;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  text-align: left;
}

/* line 197, ../sass/login.scss */
.form-bottom form textarea {
  height: 100px;
}

/* line 201, ../sass/login.scss */
.form-bottom form button.btn {
  width: 100%;
}

/* line 205, ../sass/login.scss */
.form-bottom form .input-error {
  border-color: #4aaf51;
}

/* line 209, ../sass/login.scss */
.social-login {
  margin-top: 35px;
}

/* line 213, ../sass/login.scss */
.social-login h3 {
  color: #fff;
}

/* line 217, ../sass/login.scss */
.social-login-buttons {
  margin-top: 25px;
}

/***** Media queries *****/
@media (max-width: 767px) {
  /* line 231, ../sass/login.scss */
  .inner-bg {
    padding: 60px 0 110px 0;
  }
}
@media (max-width: 415px) {
  /* line 239, ../sass/login.scss */
  h1, h2 {
    font-size: 32px;
  }
}
/* line 245, ../sass/login.scss */
.form-btn {
  height: 50px;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  background: #4aaf51;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 50px;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
  display: inline-block;
  width: 100%;
  text-align: center;
}
