@charset "UTF-8";
.dropdown {
  display: inline;
  position: relative;
}

.edit-top {
  overflow: hidden;
  .breadcrumb {
    float: left;
    margin-bottom: 0;
    background: none;
  }
  &:after {
    content: " ";
    overflow: hidden;
  }
  .edit-btns {
    padding: 8px 15px;
    float: right;
  }
}

.edit-body {
  padding: 15px 0;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  .tab {
    ul {
      overflow: hidden;
      width: 96%;
      margin: 0 auto;
    }
    li {
      cursor: pointer;
      float: left;
      width: 23%;
      color: #fff;
      font-weight: bold;
      font-size: 15px;
      height: 40px;
      line-height: 40px;
      border-radius: 5px;
      background: #ccc;
      margin: 0 1%;
    }
    li.active {
      background: #428bca;
    }
  }
}

.api-edit-content {
  margin-top: 10px;
}

.edit-content {

  .row {
    margin-bottom: 10px;
  }
  .col-xs-2 {
    text-align: right;
  }
  .col-xs-10 {
    text-align: left;
  }
  .text-input {
    outline: none;
    display: block;
    width: 98%;
    padding: 5px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -o-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s;
    -ms-transition: all .0s;
  }

  .text-input:active {
    padding: 5px;
  }
  .textarea {
    display: block;
    width: 98%;
    height: 450px !important;
    resize: none;
    outline: none;
  }

  .select-width {
    width: 150px;
  }
}



.description-text {
  height: 100px;
}

.req-content {
  width: 94%;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin: 20px auto;
  background: #f1f1f1;
  padding: 0;
  .add-btn {
    background: #428bca;
    padding: 4px 10px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  .row {
    margin: 0;
  }
}

.tab-name {

}

.tab-type {
  select {
    width: 80px !important;
    padding: 4px 6px !important;
    display: inherit !important;
    height: 30px !important;
  }
}

.tab-def, .tab-exmple, .tab-dec {
  input {
    width: 100px !important;
  }
}

.import-box-lay {
  display: none;
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .4);
}

.import-box {
  width: 850px;
  background: #fff;

  .import-box-header {
    text-align: left;
    height: 40px;
    line-height: 40px;
    background: #cccccc;
    span {
      margin-left: 30px;
      color: #666;
    }
  }
  .IsReplace {
    text-align: left !important;
  }
  .row {
    margin-bottom: 10px;
  }
  .import-content {
    margin-top: 20px;
  }
  .text-input {
    resize: none;
    overflow-y: auto;
    height: 200px !important;
  }
}

.bulkEdit {
  textarea {
    width: 96%;
    margin-top: 15px;
    min-height: 200px;

  }
}

.TagsTxt {
  span {
    padding: 6px 12px;
    margin: 0 8px 0 0 !important;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    font-weight: 100;
  }
  input {
    padding: 2px 6px !important;
    height: 24px !important;
  }
  em.tips {
    font-style: normal;
    font-size: 12px;
    padding-left: 10px;
  }
}

.code-box {
  border-radius: 5px;
  background: #fff;
  position: relative;
  width: 700px;
  .code-type {
    margin: 10px 20px;
    text-align: left;
  }
  .code-content {
    pre {
      max-height: 400px;
      margin: 0 20px 20px;
      overflow-y: scroll;
      text-align: left;
    }
  }
  .code-action {
    text-align: right;
    margin-bottom: 15px;
    a {
      margin-right: 20px;
    }
    .close-btn {
      background: #ccc;
      color: #fff;
    }
  }

  #copy_code_success {
    position: absolute;
    color: #ffb945;
    left: 24px;
    bottom: 20px;
  }
}
.code-type-select {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  position: relative;
  i {
      position: absolute;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #666;
      top: 13px;
      right: 10px;
    }
  .code-selected {
    cursor: pointer;
    position: relative;

  }
  .code-select-tips{
    position: absolute;
    background: #fff;
    width: 200px;
    border: 1px solid #ccc;
    border-top: 0;
    top: 34px;
    z-index: 2;
    li{
      height: 30px;
      line-height: 20px;
      padding: 5px;
      border-bottom:1px solid #ccc;
      cursor: pointer;
      &:last-of-type{
        border: none;
      }
    }
    li:hover{
        color: #fff;
        background: #3071a9;
      }
  }
}

.toolbar-item{
  display: none !important;
}

.refresh,.refresh:active{
    background: #6698c2;
    color: #fff;
    margin-left: 305px;
      display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

