@charset "UTF-8";
.dropdown {
  position: relative;
}

.api-top {
  padding: 5px 0;

}

.row {
  margin: 0;
}

.api-body {
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  .tags {
    span {
      margin: 0 3px;
      background-color: #f0ad4e;
      display: inline;
      padding: .2em .6em .3em;
      font-size: 75%;
      font-weight: 700;
      line-height: 1;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: .25em;
    }
  }
  .table {
    margin-bottom: 0;
    tr {
      th {
        text-align: center;
      }
    }
  }
  .page {
    border-top: 1px solid #ccc;
  }
  .pagination {
    margin: 5px auto;
  }
}

.edit-top {
  overflow: hidden;
  .breadcrumb {
    float: left;
    margin-bottom: 0;
    background: none;
  }
  &:after {
    content: " ";
    overflow: hidden;
  }
  .edit-btns {
    padding: 8px 15px;
    float: right;
  }
}

.edit-body {
  padding: 15px 0;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  .tab {
    ul {
      overflow: hidden;
      width: 96%;
      margin: 0 auto;
    }
    li {
      cursor: pointer;
      float: left;
      width: 23%;
      color: #fff;
      font-weight: bold;
      font-size: 15px;
      height: 40px;
      line-height: 40px;
      border-radius: 5px;
      background: #ccc;
      margin: 0 1%;
    }
    li.active {
      background: #428bca;
    }
  }
}

.edit-content {
  .row {
    margin-bottom: 10px;
  }
  .col-xs-2 {
    text-align: right;
  }
  .col-xs-10 {
    text-align: left;
  }
  .text-input {
    outline: none;
    display: block;
    width: 99%;
    padding: 5px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -o-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s;
    -ms-transition: all .0s;
  }
  
  .text-input:active {
    padding: 5px;
  }
  .textarea {
    display: block;
    width: 98%;
    height: 450px !important;
    resize: none;
    outline: none;
  }

  .select-width {
    width: 150px;
  }
}

.req-content {
  width: 90%;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin: 20px auto;
  background: #f1f1f1;
  padding: 0;
  .add-btn {
    background: #428bca;
    padding: 4px 10px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  .row {
    margin: 0;
  }
}

.tab-name {

}

.tab-type {
  select {
    width: 80px !important;
    padding: 4px 6px !important;
    display: inherit !important;
    height: 30px !important;
  }
}

.tab-def, .tab-exmple, .tab-dec {
  input {
    width: 100px !important;
  }
}

.import-box-lay {
  display: none;
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .4);
}

.import-box {
  display: none;
  z-index: 101;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -320px;
  border: 1px solid #ccc;
  width: 850px;
  background: #fff;

  .import-box-header {
    text-align: left;
    height: 40px;
    line-height: 40px;
    background: #cccccc;
    span {
      margin-left: 30px;
      color: #666;
    }
  }
  .IsReplace {
    text-align: left !important;
  }
  .row {
    margin-bottom: 10px;
  }
  .import-content {
    margin-top: 20px;
  }
  .text-input {
    resize: none;
    overflow-y: auto;
    height: 200px !important;
  }
}
.bulkEdit{
  textarea{
    width:96%;
    margin-top:15px;
    min-height:200px;

  }
}
.TagsTxt{
  span{
    padding:6px 12px;
    margin:0 8px 0 0!important;
    text-align: center;
    display: inline-block;
    font-size:12px;
    font-weight:100;
  }
  input{
    padding:2px 6px!important;
    height:24px!important;
  }
  em.tips{
    font-style: normal;
    font-size:12px;
    padding-left:10px;
  }
}